@import 'susy';
@import 'bourbon';
@import '../../../../themes/storefront/assets/sass/utils/variables';

.storefront-hamburger-menu-active {
	.shm-close {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	 .storefront-hamburger-menu-active {
		.main-navigation {
			ul {
				li {
					a {
						padding: .857em 1.387em;
					}
				}
			}

			.handheld-navigation,
			div.menu {
				position: fixed;
				top: 0;
				left: -80%;
				width: 80%;
				height: 100%;
				transition: left 0.2s;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
				-webkit-transition: left 0.2s;
				-moz-transition: left 0.2s;
				-ms-transition: left 0.2s;
				-o-transition: left 0.2s;
				transition: left 0.2s;
				z-index: 9999;
				display: block !important;
				border-right: 1px solid rgba(255,255,255,.2);

				> ul {
					margin-top: .53em;
				}
			}

			.menu-toggle {
				display: block;
				height: 2.244em;
				width: 2.244em;
				position: absolute;
				top: 0;
				right: 0;
				background-color: rgba(0,0,0,.05);
				text-indent: -9999px;
				margin: 0;
				box-shadow: none;

				&:before {
					position: absolute;
					top: 0;
					right: 0;
					line-height: 2.244;
					width: 100%;
					text-align: center;
					text-indent: 0;
					margin: 0;
				}

				&:focus {
					outline-width: 1px;
				}
			}

			&.toggled {
				&:after {
					content: '';
					background-color: #000;
					position: fixed;
					right: 0;
					left: 0;
					top: 0;
					bottom: 0;
					opacity: .8;
					z-index: 9998;
				}

				.handheld-navigation,
				div.menu {
					left: 0;
					box-shadow: 0 0 2em rgba(0,0,0,.7);
				}
			}
		}

		.shm-close {
			display: block;
			background-color: rgba(0,0,0,.5);
			cursor: pointer;
			overflow: hidden;
			font-weight: bold;
			border-bottom: 1px solid rgba(255,255,255,.2);

			&:before {
				font-family: "FontAwesome";
				font-weight: 400;
				content: '\f00d';
				margin-right: 1em;
				display: inline-block;
				padding: .857em 0 .857em 1.387em;
			}
		}

		.site-header-cart {
			.cart-contents {
				right: 2.618em;
			}
		}

		&.admin-bar {
			.main-navigation {
				.handheld-navigation,
				div.menu {
					padding-top: 32px;
				}
			}
		}
	}
}

@media screen and (max-width: 782px) {
	.storefront-hamburger-menu-active {
		&.admin-bar {
			.main-navigation {
				.handheld-navigation,
				div.menu {
					padding-top: 46px;
				}
			}
		}
	}
}